:root {
    --bg-primary: #F0F2F5;
    --bg-ui-primary: #E2E4E9;
    --accent-primary: #E87F24;
    --accent-secondary: #FFC81E;
    --accent-tr: #3D5A80;
    --text-primary: #1A1A1A;
    --text-secondary: #6C757D;
    --text-light: #FEFEFE;
    --gl-primary: rgba(0, 0, 0, 0.08);
    --gl-secondary: rgba(0, 0, 0, 0.12);
    --sd-primary: rgba(0, 0, 0, 0.15);
    --bg-nav: rgba(0, 0, 0, 0.85);
    --bg-footer: rgba(0, 0, 0, 1);
    --bg-modal: rgb(226, 228, 233, 0.9);
}

:root[data-theme="dark"] {
    --bg-primary: #1E104E;
    --bg-ui-primary: #452E5A;
    --accent-primary: #FF653F;
    --accent-secondary: #FFC85C;
    --accent-tr: #74A6CB;
    --text-primary: #FEFDF2;
    --text-secondary: #B9B9CE;
    --text-light: #FFFFFF;
    --gl-primary: rgba(255, 255, 255, 0.2);
    --gl-secondary: rgba(255, 255, 255, 0.3);
    --sd-primary: rgba(0, 0, 0, 0.3);
    --bg-nav: rgba(0, 0, 0, 0.85);
    --bg-footer: rgba(0, 0, 0, 0.5);
    --bg-modal: rgba(0, 0, 0, 0.8);
}

@media (max-width: 1024px) {
    :root[data-theme="light"] .footer {
        background: rgba(0, 0, 0, 1);
    }
    
    .footer {
        background: var(--bg-footer);
    }
}